# Python
__pycache__/
*.pyc
.env
venv/
.env.*
backend/.venv
backend/.env.example

# Flask
instance/

# Uploads & results
backend/uploads/*
backend/results/*

# Node / React
frontend/node_modules/
frontend/build/

# OS
.DS_Store
